<p>
    <a routerLink="/admin/products/new" class="btn btn-primary">Nouveau Produit</a>
</p>
<p>
    <input 
        #query
        (keyup)="filter(query.value)"
        type="text" class="form-control" placeholder="Rechercher...">
</p>

<data-table
    [items]="items"
    [itemCount]="itemCount"
    (reload)="reloadItems($event)"
>
    <data-table-column
        [property]="'tilte'"
        [header]="Libellé"
        [sortable]="true"
        [resizable]="true"
    >

    <data-table-column
        [property]="'price'"
        [header]="Prix"
        [sortable]="true"
        [resizable]="true"
    >
    <ng-template #dataTableCell let-item="product">
        {{ product.price | currency:'EUR':true }}
    </ng-template>

    <data-table-column
        [property]="'$key'"
    >
    <ng-template #dataTableCell let-item="product">
        <a [routerLink]="['/admin/products/', p.$key]">Editer</a>
    </ng-template>

</data-table>
