/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
    padding-top: 80px;
}

.alert {
    padding-top: 0.20rem;
    padding-bottom: 0.20rem;
}